<h1>Users</h1>

<table cellpadding="5" cellspacing="0">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>Subdomain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.company %></td>
    <td><%= user.subdomain %></td>
    <td><%= link_to "Show", admin_user_path(user) %>
    <td><%= link_to "Edit", edit_admin_user_path(user) %></td>
    <td><%= link_to 'Destroy', admin_user_path(user), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to "New User", new_admin_user_path %>
