<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li> |
      <li><%= link_to "Learn More", more_path %></li> |
      <li><%= link_to "Pricing", pricing_path %></li> |
      <li><%= link_to "FAQ", '#' %></li> |
      <li><%= link_to "Contact", contact_path %></li> |
      <li><%= link_to "Sign Up", '#' %></li>
    </ul>
  </nav>
  <h1><%= link_to "CadEvent", root_path %></h1>
  <h3><%= link_to "Your Events, Simple.", root_path %></h3>
</header>
